body {
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: Lato, Helvetica, system-ui;
    background-color: white;
}
#navbar {
    position: sticky;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    border-top: 1px;
    border-color: rgb(164, 163, 163);
    border-bottom: 1px;
    border-color: rgb(164, 163, 163);
    border-style: solid;
    border-left: none;
    border-right: none;
}
.navlinks{
    width: 60%;
    display: flex;
    justify-content: space-between;
}
.navlinks a {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.navlinks a:hover, .navscroll:hover {
    color: rgb(0, 204, 255);
}


.navscroll {
    color: rgb(0, 204, 255);
    height: 1rem;
    width: 1.5rem;
}
.heroimg {
    width: 100%;
    height: 90vh;
    position: relative;
    overflow: hidden;
}
#otherpages {
    height: 30vh;
    object-position: bottom;
}
.heroimg > img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    object-position: center;
    position: sticky;
}
#otherpages > img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    object-position: bottom;
    position: sticky;
}
#hero {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 2rem 15rem;
    backdrop-filter: blur(1.5px);
    color: rgb(255, 255, 255);
}
.container {
    padding: 1.5rem 15rem;
}
#hero > h1 {
    font-size: 40px;
    margin-bottom: 1rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h3 {
    font-weight: 300;
    margin-top: 0%;
}
#home > p {
    font-weight: 150;
    line-height: 1.5rem;
    text-align: justify;
}
#home {
    width: 100%;
    background-color: white;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
h2 {
    font-size: 17px;
    padding-bottom: 2rem;
}
a {
    color: black
}
.thrustsdiv{
    display: flex;
    justify-content: space-between;

}
.thrust > h2, .thrust > h3 {
    text-align: center;
}
.thrust {
    width: 31%;
}
.thrust > p {
    text-align: justify;
    font-weight: 100;

}
.thrust > h2 {
    padding-bottom: 0%;
}
.thrust > h3 {
    
}